body {
  background: #171738;
  color: white;
}
article {
  background: #2e1760;
}
.navigation {
    background: #010111;
}
.navigation__link{
  color: #0b7189;
}
h1 {
  color: #62726f;
}
h2 {
  color: #dff3e4;
}
h3 {
  color: #62726f;
}
.footer-link {
  color: #0b7189;
}

