body {
  background: #204b57;
  color: white;
  position: relative;
}
.article {
  /*background: #2e1760;*/
  /*background: #FFC6AC;*/
  box-sizing: border-box;
  max-width: 1000px;
  padding: 16px;
  margin-bottom: 20px;
  border: 3px dotted #4becec;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.article__description {
  color: #fff;
  text-align: left;
}
.article__title {
  color: #1ba788;
}
.footer {
  background: #8f91a2;
}
.footer__description {
  color: azure;
}
.footer__link {
  color: #0b7189;
}
.header {
  background: rgba(1, 1, 17,0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}
.main-header {
  color: #0ead69;
  box-sizing: border-box;
  max-width: 1000px;
  margin-top: 80px;;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.navigation__link {
  color: #d00000;
  padding-right: 30px;
  font-weight: bold;
}
.section {
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  color: #dff3e4;
}